In [109]:
import pandas as pd
df = pd.read_csv('student-mat.csv', delimiter=';')
print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

In [111]:
print(df.isnull().sum())

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [113]:
print(df.dtypes)

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [115]:
print(df.shape)

(395, 33)

In [117]:
df = df.fillna(df.median(numeric_only=True))

In [119]:
df = df.drop_duplicates()

In [123]:
average_math_score = df['G3'].mean()
print("Average Math Score (G3):",average_math_score)

Average Math Score (G3): 10.415189873417722

In [125]:
students_above_15 = df[df['G3'] > 15].shape[0]
print("Number of students scoring above 15 in G3:", students_above_15)

Number of students scoring above 15 in G3: 40

In [137]:
correlation = df['studytime'].corr(df['G3'])
print("Correlation between study time and G3:",correlation)

Correlation between study time and G3: 0.09781968965319626

In [129]:
average_g3_by_gender = df.groupby('sex')['G3'].mean()
print("Average G3 by gender:")
print(average_g3_by_gender)

Average G3 by gender:
sex
F     9.966346
M    10.914439
Name: G3, dtype: float64